* {
  all: unset;
  font-family: "Cascadia Code";
  font-style: italic;
  color: #FFFFFF;
}


.win-user {
  background-color: #242424;
  opacity: 0.95;
  border: 1px solid #444444;
  border-radius: 10px 10px 2px 2px;
  box-shadow: 0 0 4px 2px #000000;
  margin: 8px 8px 1px 8px;
}

.ml4w-dotfiles {
  margin: 0 18px 0 18px;
}

.win-res {
  background-color: #242424;
  opacity: 0.95;
  border: 1px solid #444444;
  border-radius: 2px;
  box-shadow: 0 0 4px 2px #000000;
  padding: 10px 0 10px 0;
  margin: 1px 8px 1px 8px;
}

.res_box {
  background-color: #242424;
  border-radius: 12px;
  padding: 8px 8px 8px 8px;
}

.res_circle {
  background-color: #FFFFFF;
  border: 0px solid #161616;
  color: #FFFFFF;
  border-radius: 100%;
  padding: 0px;
}

.ml4w_icon {
  background-repeat: no-repeat;
  background-size: 48px;
  min-height: 48px;
  min-width: 48px;
}

.res_circle_small {
  background-color: #242424;
  border: 0px solid #161616;
  border-radius: 100%;
  color: #FFFFFF;
  padding: 30px;
  min-width: 30px;
}

.side {
  opacity: 0.9;
  border-radius: 10px;
}

.avatar {
  min-height: 120px;
  min-width: 120px;
  background-size: cover;
  border-radius: 60px;
}

.user {
  margin: 5px;
  padding: 20px 8px 20px 8px;
  background-color: #1e1e2e;
  opacity: 0.9;
  border-radius: 18px;
}

.calendar {
  padding: 10px 5px 0 5px;
  margin-right: 5px;
  font-family: "MonoLisa";
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  background-color: #1e1e2e;
  opacity: 0.8;
  border-radius: 18px;
}


.wheel {
  font-size: 25px;
  font-weight: normal;
  background-color: #1e1e2e;
  opacity: 0.8;
  padding: 10px;
  margin: 2px 2px;
  border-radius: 18px;
}

.docker {
  background-color: #1e1e2e;
  opacity: 0.9;
  border-radius: 16px;
}

.icon {
  padding: 6px 6px;
}

.res_text {
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 0px 8px 0px 8px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}

.res_cpu {
  color: #19cddb;
}

.res_mem {
  color: #a5deb7;
}

.res_disk {
  color: #cfb3ff;
}

.powericons {
  background-repeat: no-repeat;
  background-size: 30px;
  min-height: 30px;
  min-width: 30px;
}

.closeicon {
  background-repeat: no-repeat;
  background-size: 16px;
  min-height: 16px;
  min-width: 16px;
}

.win-menu {
  background-color: #242424;
  opacity: 0.95;
  border: 1px solid #444444;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 0 0 4px 2px #000000;
  margin: 1px 8px 1px 8px;
  padding: 12px 0 12px 0;
}
