/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * by Stephan Raabe (2023)
 * -----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */
@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor alpha(#FFFFFF, 0.8);

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "SF Pro Display", "Inter Semi Bold", "Fira Sans semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(30,30,46,0.3);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
    padding-left: 10px;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  /* background: @color11; */
  /* background: @backgroundlight; */
  margin: 7px 2px 7px 0px;
  padding: 0px;
  /*padding: 2px 3px 1px 3px;*/
  border-radius: 18px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
  border: 3px solid alpha(@backgroundlight, 0.2);
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}


/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
  background: alpha(@workspacesbackground1, 0.3);
  margin: 8px 2px 8px 1px;
  padding: 0px 8px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: @textcolor1;
}

#workspaces button {
  padding: 0px 3px;
  margin: 2px 3px;
  border-radius: 15px;
  border: 0px;
  color: @textcolor1;
  background-color: @workspacesbackground1;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
    color: @textcolor1;
    background: @workspacesbackground1;
    min-width: 40px;
    transition: all 0.8s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: alpha(@backgroundlight, 0.7);
    opacity:0.9;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 7px 5px;
    padding: 0px 8px;
    border-radius: 16px;
    border: 3px solid alpha(@backgroundlight, 0.2);
    color:@textcolor;
    font-size:14px;
    font-weight:normal;
    transition: all 0.5s ease-in-out;
}

window#waybar.empty #window {
    margin: 10px 5px;
    min-width: 4px;
    border-radius: 16px;
    background-color:transparent;
    transition: all 0.5s ease-in-out;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: @iconcolor;
}

#custom-cliphist {
  margin-right: 5px;
}
#custom-wallpaper,
#custom-settings{
  font-size: 16px;
  margin: 7px 2px;
  border-radius: 16px;
  padding: 0 0 0 3px;
  border: 3px solid alpha(@backgroundlight, 0.2);
}


#custom-tools {
    margin-right:12px;
}

#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:16px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}


#custom-browser {
    margin-right: 12px;
}


#custom-chatgpt {
    margin-right: 10px;
    background-image: url("../assets/openai.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 14px;
}

#custom-waybarthemes,#custom-system {
    margin-right:15px;
}


#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 20px;
}

#custom-ml4w-hyprland-settings {
    margin-right: 12px;
    background-image: url("../assets/hyprland-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
}


/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

 #idle_inhibitor {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    border: 3px solid alpha(@backgroundlight, 0.2);
    border-radius: 18px;
    font-size: 18px;
    padding: 0px 0px 0px 1px;
    color: @iconcolor;
    margin: 6px 15px 6px 5px;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

 #custom-notification {
    margin: 0px 8px 0px 0px;
    padding:0px;
    font-size: 16px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:16px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    font-size: 16px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 8px 5px 8px 0px;
    padding: 2px 8px 2px 8px;
}

#custom-updates.green {
}

#custom-updates.yellow {
    color: #ff9a3c;
}

#custom-updates.red {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: @backgroundlight;
    font-size: 14px;
    color: @textcolor2;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size: 16px;
    color:@iconcolor;
}

#cpu {
    margin-right: 6px;
}


#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

 #power-profiles-daemon {
    margin: 0px 5px 0px 2px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 15px;
    color: @iconcolor;
    margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

 #backlight {
    font-size: 16px;
    color: @iconcolor;
    margin: 0px 10px 0px 0px;
    background-color: transparent;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

 #pulseaudio {
    font-size: 16px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 15px 0px 0px;
}

#pulseaudio.muted {
    color: @textcolor;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 16px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 8px 0px 0px;
}

#network.ethernet {
    color: @iconcolor;
}

#network.wifi {
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    font-size: 18px;
    color: @textcolor;
    border-radius: 50%;
    padding: 0px 5px 0px 6px;
    border: 2px solid alpha(@iconcolor, 0.5);
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 16px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 10px 5px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @iconcolor;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#custom-widgets {
  font-size: 16px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

#custom-panel {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  font-size: 16px;
  color: @iconcolor;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  font-size: 18px;
  margin: 0px 15px 0px 2px;
  color: @iconcolor;
}

#tray menu {
  border-radius: 12px;
  background: alpha(#1e1e2e, 0.8);
  color: @textcolor2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
