/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * -----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
  font-family: "SF Pro Display", "Inter SemiBold", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: alpha(@backgroundlight, 0.0);
  border-bottom: 0px solid @bordercolor;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
    margin:0px 0px 2px 5px;
}

.modules-right {
    margin:0px 0px 2px 0px;
}

.modules-center {
    margin:0px 0px 2px 0px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

/**
* have background container
*/

#battery,
#pulseaudio,
#network ,
#backlight,
#bluetooth,
#clock,
#custom-appmenu,
#custom-updates
/*#custom-wallpaper
 #custom-settings  */
{
  font-size: 16px;
  border-radius: 16px;
  background: alpha(@backgroundlight, 0.35);
  border: 1px solid alpha(@backgroundlight, 0.2);
  box-shadow: inset 0 0 10px alpha(@backgroundlight, 0.8);
  color: @textcolor2;
  font-weight: bold;
}

/**
* no backgound container
*/

#custom-widgets,
#custom-cliphist,
#idle_inhibitor,
#custom-filemanager,
#power-profiles-daemon,
#cpu,
#memory,
#disk,
#custom-notification,
#custom-panel,
#custom-browser,
#custom-chatgpt,
#custom-waybarthemes {
  color: alpha(@iconcolor, 0.9);
  font-size: 17px;
  font-weight: bold;
}



#workspaces {
  background-color: alpha(@workspacesbackground1, 0.25);
  box-shadow: inset 0 0 10px alpha(@backgroundlight, 0.8);
  border-left: 2px solid alpha(@backgroundlight, 0.6);
  border-right: 2px solid alpha(@backgroundlight, 0.6);
  border-radius: 20px;
  padding: 2px 8px;
  margin: 7px 8px 7px 2px;
}

#workspaces button {
  padding: 0px 2px 0px 2px;
  margin: 1px 1px;
  border-radius: 20px;
  border: 0px;
  color: @textcolor2;
  background-color: alpha(@workspacebackground, 0.4);
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @on_primary;
  background: alpha(@primary, 0.8);
  border-radius: 12px;
  min-width: 20px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: alpha(@secondary, 0.7);
  color: @on_secondary;
  border-radius: 8px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 8px;
  background: alpha(@backgroundlight, 0.6);
  border: 1px solid alpha(@backgrounddark, 0.2);
  padding: 8px;
  margin: 0px;
}

tooltip label {
  color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: alpha(@backgroundlight, 0.16);
  margin: 0px 0px 6px 0px;
  padding: 0px 10px;
  border-radius: 0 0 16px 16px;
  box-shadow: inset 0px 0px 22px alpha(@backgroundlight, 0.6);
  color: @textcolor1;
  font-size: 14px;
}

window#waybar.empty #window {
  box-shadow: inset 0 0 20px alpha(@backgroundlight, 0.8);
  min-width: 200px;
  background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  /* background: @color11; 
  background: alpha(@backgroundlight, 0.25);
  */
  margin: 4px 15px 4px 0px;
  padding: 0px;
  border-radius: 8px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
  border: 2px solid alpha(@backgroundlight, 0.2);
  transition: width 0.8s ease-in-out;
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-sidepad,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
  margin-right: 5px;
  font-size: 17px;
}

#custom-cliphist {
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}

#custom-wallpaper {
  background-image: url("../assets/left-corner.svg");
  min-width: 43px;
  color: @textcolor1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-right: 0px;
}

#custom-settings {
  border-top: 0px solid alpha(@backgroundlight, 0.2);
  background-image: url("../assets/right-corner.svg");
  min-width: 36px;
  color: @textcolor1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 7px;
}

#custom-hyprshade {
  margin-right: 5px;
}

#custom-system {
  margin-right: 5px;
}

#custom-chatgpt {
    margin-right: 10px;
    background-image: url("../assets/openai.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding-right: 18px;
}

#custom-widgets {
  font-size: 20px;
  margin-right: 3px;
}

#custom-ml4w-hyprland-settings {
  margin-right: 12px;
  background-image: url("../assets/hyprland-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 16px;
}

/* -----------------------------------------------------
 * Idle Inhibitor
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 3px;
  font-size: 18px;
  font-weight: bold;
}

#idle_inhibitor.activated {
  font-size: 18px;
  color: lightcyan;
  padding: 2px 8px 2px 8px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
  padding: 2px 1px 1px 3px;
  margin: 8px 2px 8px 2px;
  border: 0px solid @bordercolor;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

 #custom-notification {
    margin: 0px 3px 0px 0px;
    padding:0px;
    font-size: 20px;
    font-family: "Material Icons";
    color: @iconcolor;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-panel {
  margin: 0px 3px 0px 0px;
  padding: 0px;
  font-size: 18px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    margin: 8px 8px 8px 0px;
    padding: 0 8px;
    opacity:0.8;
}

#custom-updates.green {
  background:  alpha(#00ff00, 0.5);
  color: #FFFFFF;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #FFFFFF;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #FFFFFF;
}

/* -----------------------------------------------------
 * Custom Recorder
 * ----------------------------------------------------- */

#custom-recorder {
  font-size: 18px;
  border-radius: 8px;
  padding: 1px 1px 2px 7px;
  margin: 8px 5px 8px 0px;
}

#custom-recorder.red {
  border-radius: 16px;
  padding: 1px 4px 2px 4px;
  color: alpha(#F00000, 0.6);
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
  padding: 2px 10px 0px 10px;
  margin: 5px 5px 5px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
  margin: 0px;
  padding: 0px;
}

#cpu {
  margin-right: 5px;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

 #power-profiles-daemon {
    margin: 0px 4px 0px 0px;
    padding:0px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  padding: 1px 8px 1px 8px;
  margin: 8px 5px 8px 0px;
  border: 0px solid @bordercolor;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 1px 10px 2px 10px;
    margin: 5px 5px 5px 0px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background: alpha(@backgroundlight, 0.35);
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 1px 8px 1px 8px;
    margin: 8px 5px 8px 0px;
}

#pulseaudio.muted {
  color: @textcolor2;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background: alpha(@backgroundlight, 0.35);
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 1px 8px 1px 8px;
    margin: 8px 5px 8px 0px;
}

#network.ethernet {
    color: @textcolor1;
}

#network.wifi {
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: alpha(@backgroundlight, 0.25);
    font-size: 16px;
    font-size: 22px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 1px 8px 0px 8px;
    margin: 8px 5px 8px 0px;
    opacity:0.8;
}

#bluetooth.off {
  color: @textcolor2;
  font-size: 20px;
  padding: 0px 8px 0px 8px;
}

/* -----------------------------------------------------
 * Custom screenshot
 * ----------------------------------------------------- */

#custom-screenshot {
  margin: 5px 0px 5px 0px;
  color: @iconcolor;
  border-radius: 16px;
  font-size: 18px;
  padding: 0px 0px 0px 4px;
}


/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: alpha(@backgroundlight, 0.35);
    box-shadow: inset 0 0 10px alpha(@backgroundlight, 0.8);
    font-size: 16px;
    color: @textcolor1;
    border-radius: 15px;
    margin: 8px 5px 8px 2px;
    padding: 1px 8px 1px 8px;
    opacity:0.8;
}

#battery.charging, #battery.plugged {
    color: @textcolor1;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  background-color: alpha(@backgroundlight, 0.2);
  box-shadow: inset 0 0 6px alpha(@backgroundlight, 0.6);
  font-size: 16px;
  color: @textcolor2;
  border-radius: 16px;
  padding: 1px 6px 1px 5px;
  margin: 7px 5px 7px 0px;
}

#tray menu {
  padding: 5px;
  border-radius: 12px;
  background: alpha(#1e1e2e, 0.6);
  color: @textcolor2;
  border: 1px solid alpha(@background, 0.5);
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
