/*
Sirula uses GTK and can be themed with CSS (https://developer.gnome.org/gtk3/stable/chap-css-overview.html)
This theme was tested on top of Adwaita-Dark.
See consts.rs for a list of defined classes and names.

The style.css can be omitted but sirula will not look very nice since there are no hardcoded margins.

To remove the global theme completely, use
* { all: unset; }
*/

@import "colors.css";

@define-color color_text @on_suface;
@define-color item_focus @outline;
@define-color panel_back @primary_container;
@define-color panel_border @primary_fixed_dim;

* {
    font-family: "Inter sembold";
    font-size: 16px;
}

.background {
    background: transparent;
}

#root-box, .background, #app-list, .overlay-indicator {
    background: transparent;
}

#root-box{
    background-color: alpha(@panel_back, 0.3);
    opacity: 1.0;
    border: 2px solid alpha(@panel_border, 0.1);
    border-radius: 16px;
    /* box-shadow: 0 0 10px alpha(@panel_border, 0.5); */
    padding: 10px;
    margin: 0px;
}

#search {
    background: transparent;
    border: unset;
    border-radius: 8px;
    outline: unset;
    /* box-shadow: inset 0px 0px 0px 3px alpha(#dc69ff, 0.8); */
    margin: 10px 10px 20px 10px;
    font-size: 18px;
    color: @text_color;
    padding: 5px 8px;
    box-shadow: 0 0 0px alpha(#f0f0f0, 0.5);
    border-bottom: 1px solid alpha(#f0f0f0, 0.5);
}


selection {
    /* background-color: alpha(#dc69ff, 0.5); */
} 

.app-row {
    transition: unset;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 3px;
    color: @color_text; 
    background-clip: padding-box;
    border-bottom: 1px solid alpha(#0f0f0f, 0.5);
}

.app-row:focus {
    color: @color_text;
    background-color: alpha(@item_focus, 0.035);
    outline: unset;
}

.app-row:hover:selected {
    background-color: alpha(@item_focus, 0.4);
    border-radius: 8px;
    color: @color_text;
}

.app-row:hover {
    color: @color_text;
    background-color: alpha(@item_focus, 0.035);
    border-radius: 8px;
}

.app-row:selected {
    color: @color_text;
    background-color: alpha(@item_focus, 0.2);
    border-radius: 8px;
}


.app-row:hover.selected {
    color: @color_text;
    background-color: alpha(@item_focus, 0.2);
    border-radius: 8px;
}

.app-label {
    margin-left: 10px;
}

#app-list {
   padding: 0 5px;
}


#root-box {
    min-width: 300px;
}

scrollbar.vertical slider {
    background-color: alpha(white, 0.15);
}

