:root {
    --border-color: rgba(40, 40, 30, 0.5);
    --border-color-active: rgba(239, 9, 239, 0.9);

    --bg-color: rgba(20, 20, 20, 0.6);
    --bg-color-hover: rgba(40, 40, 50, 1);

    --border-radius: 12px;
    --border-size: 2px;
    --border-style: solid;
    --border-style-secondary: dashed;

    --text-color: rgba(245, 245, 245, 1);

    --window-padding: 2px;
}

.monitor {
  padding: 10px;
  border-radius: 30px;
  background: var(--bg-color);
}

.workspace {
  all: unset;
  padding: 6px;
  border-radius: 30px;
  font-size: 20px;
  background: none;
}

.client {
  all: unset;
  padding: 16px;
  border-radius: 20px;
  background: none;
}

.client-image {
  background: none;
}

.launcher {
  background: var(--bg-color);
  padding: 10px;
  opacity: 0.9;
}

.launcher-input {
  border-radius: var(--border-radius);
  border: var(--border-size) var(--border-style) var(--border-color);
  color: var(--text-color);
  background: var(--bg-color);
  padding: 5px 10px;
  margin-bottom: 10px;
}

.launcher-results {
  background: none;
  margin: 5px;
}

.launcher-item {
  background: none;
}

.launcher-exec {
  background: none;
}

.launcher-key {
  background: none;
}

.launcher-plugins {
  background: none;
}

.launcher-plugin {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 3px 6px;
  background: var(--bg-color);
  color: var(--text-color);
}
