@import "../../../.cache/wal/colors.scss";

* {
  all: unset;
  // font-family: "Cascadia Code";
  //font-family: 'JetBrains Mono Nerd Font', 'JetBrains Mono NL', 'SpaceMono Nerd Font', monospace;
  font-family: 'Inter Semi Bold';
  // font-style: italic;
  color: #FFFFFF;
}

.win-box {
  background-color: #3d424e;
  opacity: 0.90;
  border: 1px solid #3d4e4a;
  border-radius: 10px 10px 2px 2px;
  box-shadow: 0 0 4px 2px #3d424e;
  margin: 8px 8px 1px 8px;
}

.win-res {
  background-color: #3d424e;
  opacity: 0.95;
  border: 1px solid #3d424e;
  border-radius: 2px;
  box-shadow: 0 0 4px 2px #3d424e;
  padding: 10px 0 10px 0;
  margin: 1px 8px 1px 8px;
}

.winrow {
	padding:20px 0px 20px 0px;
}

.closebox {
	background-color: #242424;
	opacity: 0.85;
	border: 1px solid #444444;
	border-radius: 12px;
	box-shadow: 0 0 4px 2px #000000;
	margin: 10px;
}

.res-box {
  background-color: #3d424e;
  border-radius: 12px;
  padding: 8px 8px 8px 8px;
}

.res-circle {
  background-color: #FFFFFF;
  border: 0px solid #161616;
  color: #FFFFFF;
  border-radius: 100%;
  padding: 0px;
}

.res-circle-small {
  background-color: #3d424e;
  border: 0px solid #161616;
  border-radius: 100%;
  color: #FFFFFF;
  padding: 30px;
  min-width: 30px;
}

.res-cpu {
  color: #19cddb;
}

.res-mem {
  color: #a5deb7;
}

.res-disk {
  color: #cfb3ff;
}

.win-menu {
  background-color:  #3d424e;
  opacity: 0.95;
  border: 1px solid #3d424e;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 0 0 4px 2px #3d424e;
  margin: 1px 8px 1px 8px;
  padding: 3px 0 6px 0;
}

.menu-box {
  padding: 0 8px;
  border-radius: 10px;
}

.menu-layer:hover {
  border-radius: 10px;
  background-color: $color2;
  transition: 0.8s;
  opacity: 0.9;
}
.menu-icon{
  border-radius: 8px;
  padding: 5px;
  margin: 2px;
}

.panel-box-header {
  border-radius: 10px 10px 10px 10px;
  margin: 1px;
  padding: 3px;
  min-width: 120px;
  opacity: 1;
}

.panel-icon {
  background-color: #373c68;
  border-radius: 18px;
  min-width: 36px;
  min-height: 36px;
  opacity: 1;
  margin: 2px;
}

.switch-icon {
  background-color: #373c68;
  border-radius: 8px;
  min-width: 40px;
  min-height: 36px;
  opacity: 1;
  margin: 5px 5px;

}

.func-switch {
  margin: 0 5px 0 5px;
  padding: 5px;
  border-radius: 16px;
  background-color: #1E1E2E;
}
.switch-box:hover {
  border-radius: 10px;
  margin: 0px;
  opacity: 0.8;
  background-color: #373c68;
}

.audio-scale highlight {
  all: unset;
  background-color: $color6;
  border-radius: 0 10px 10px 0;
  transition: all 0.8s;
}

.audio-scale trough {
  all: unset;
  background-color: #373c68;
  border: 1px solid $background;
  min-height: 20px;
  border-radius: 0 10px 10px 0;
  min-width: 290px;
  transition: all 0.8s;
}

.slide-box {
  margin: 5px 5px 5px 5px;
  padding: 5px 10px;
  background-color: #1e1e2e;
  opacity: 0.98;
  border-radius: 10px;
}

.slide-icon {
  background-color: #373c68;
  border: 1px solid $background;
  border-radius: 10px 0 0 10px;
  min-width: 26px;
  min-height: 20px;
  opacity: 1;
  margin: 5px 0;
}

.light-scale highlight {
  all: unset;
  background-color: $color4;
  border-radius: 0 10px 10px 0;
  transition: all 0.8s;
}

.light-scale trough {
  all: unset;
  border-radius: 0 10px 10px 0;
  background-color: #373c68;
  border: 1px solid $background;
  min-height: 20px;
  min-width: 290px;
  transition: all 0.8s;
}


@import "widgets.scss";
@import "dock.scss";
@import "task.scss";
@import "launcher.scss";
