
.task-item {
  border-radius: 16px;
  margin: 5px;
  background-color: $color1;
  padding: 5px;
}

.taskview {
  background-color: $color10;
  opacity: 0.95;
  border-radius: 30px;
  padding: 30px;
}

.task-label {
  font-size: 18px;
  font-family: "Cascadia Code";
  font-style: italic;
  color: $background;
}

.item-view:focus {
  border: 1px solid $color4;
}

.item-view {
  opacity: 0.8;
  border-radius: 16px;

  &:hover {
    background-color: $color4;
    opacity: 1;
    padding: 5px;
    transition: all 0.5s;
  }
}
