window {
  background: #36364f;
	border-radius: 16px;
	border-style: none;
	border-width: 1px;
	border-color: rgba(156, 142, 122, 0.7);
	opacity: 0.8;
	margin-bottom: 5px;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 8px 3px 8px 3px;
}

#active {
	/* This is to underline the button representing the currently active window */
	/*  border-bottom: solid 1px; */
	border-color: rgba(255, 255, 255, 0.3)
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 4px;
	margin: 1px 2px;
	color: #eee;
  font-size: 12px;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 12px;
}

button:hover {
	background-color: rgba(200, 55, 200, 0.25);
}

button:focus {
	box-shadow: none
}
