/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
@import '../../../../../.config/waybar/colors.css';

@define-color backgroundlight #000000;
@define-color backgrounddark #000000;
@define-color workspacesbackground1 #000000;
@define-color workspacesbackground2 @on_secondary;
@define-color bordercolor #000000;
@define-color textcolor1 @FFFFFF;
@define-color textcolor2 @FFFFFF;
@define-color textcolor3 #000000;
@define-color iconcolor #FFFFFF;

@import '../style.css';

#custom-ml4w-welcome {
    background-image: url("../../assets/ml4w-icon-black.svg");
}

#custom-chatgpt {
    margin-right: 10px;
    background-image: url("../assets/openai.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    padding-right: 18px;
}
#custom-chatgpt {
    background-image: url("../../assets/openai.svg");
}

#custom-wallpaper {
  background-image: url("../../assets/left-corner-dark.svg");
  min-width: 43px;
  color: @textcolor1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-right: 0px;
}

#custom-settings {
  border-top: 0px solid alpha(@backgroundlight, 0.2);
  background-image: url("../../assets/right-corner-dark.svg");
  min-width: 36px;
  color: @textcolor1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 7px;
}

