
$background: #0f1416;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2c3133;

$inverse_primary: #00687b;

$inverse_surface: #dee3e6;

$on_background: #dee3e6;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #003641;

$on_primary_container: #aeecff;

$on_primary_fixed: #001f26;

$on_primary_fixed_variant: #004e5d;

$on_secondary: #1d343a;

$on_secondary_container: #cee7ef;

$on_secondary_fixed: #061f25;

$on_secondary_fixed_variant: #344a51;

$on_surface: #dee3e6;

$on_surface_variant: #bfc8cb;

$on_tertiary: #292e4d;

$on_tertiary_container: #dee1ff;

$on_tertiary_fixed: #141937;

$on_tertiary_fixed_variant: #3f4565;

$outline: #899295;

$outline_variant: #3f484b;

$primary: #85d2e7;

$primary_container: #004e5d;

$primary_fixed: #aeecff;

$primary_fixed_dim: #85d2e7;

$scrim: #000000;

$secondary: #b2cbd3;

$secondary_container: #344a51;

$secondary_fixed: #cee7ef;

$secondary_fixed_dim: #b2cbd3;

$shadow: #000000;

$source_color: #478b9d;

$surface: #0f1416;

$surface_bright: #343a3c;

$surface_container: #1b2022;

$surface_container_high: #252b2d;

$surface_container_highest: #303638;

$surface_container_low: #171c1e;

$surface_container_lowest: #090f11;

$surface_dim: #0f1416;

$surface_tint: #85d2e7;

$surface_variant: #3f484b;

$tertiary: #bfc4eb;

$tertiary_container: #3f4565;

$tertiary_fixed: #dee1ff;

$tertiary_fixed_dim: #bfc4eb;

