// @use "../../../.cache/wal/colors.scss";

.app-dock {
  background-color: rgba($color3, 0.5);
  opacity: 1.0;
  border: 1px solid rgba($color3, 0.6);
  box-shadow: 0 0 10px rgba($color3, 0.6);
  border-radius: 16px;
  padding: 8px 0;
  transition: all 800ms;
}

.app-active {
  border: 1px solid $color6;
  border-radius: 1px;
  margin: 10px 0;
  opacity: 1;
}

.icon {
  margin: 2px 0;
  padding: 3px 5px;
}

.icon-box {
  opacity: 0.9;
  background-color: $color4;
  border-radius: 12px;
  transition: all 0.5s;
}

.icon-box:hover {
  background-color: $color1;
  opacity: 1;
  border-radius: 12px;
  transition: all 0.3s;
}

.icon-box:active {
  background-color: $color1;
  opacity: 1;
  border-radius: 12px;
  transition: all 0.3s;
  animation: 0.8s loading ease-in 2;
}

@keyframes loading {

  0% {
    opacity: 1;
    margin: 0px;
  }

  50% {
    opacity: 0.3;
    margin: 30px;
  }

  100% {
    opacity: 1;
    margin: 0px;
  }
}
