@import "colors.scss";

// $win_background: #3f3f3f;
// $win_background: #aeaeae;
$win_background: $primary;
$hover_menu: $on_primary;
$box_background: $primary_container;
$block_background: #cccccc;
$slide_color: #fcfcfc;

* {
  all: unset;
  // font-family: "Cascadia Code";
  font-family: 'Inter SemiBold', 'JetBrains Mono Nerd Font', 'SpaceMono Nerd Font', monospace;
  // font-style: italic;
  color: $slide_color;
}

.side {
  background-color: rgba($win_background, 0.3); 
  margin: 3px;
  border: 2px solid rgba($win_background, 0.1);
  padding: 8px;
  min-width: 400px;
  border-radius: 20px 20px 20px 20px;
}

.win-box {
  border-bottom: 1px solid rgba($win_background, 0.5);
  padding: 0px 0px 8px 0px;
}

.win-res {
  border-bottom: 0px solid rgba($win_background, 0.5);
  border-radius: 2px;
  padding: 8px 0px 0px 0px;
}

.win-menu {
  padding: 10px 0px 6px 0px;
}

.winrow {
	padding:20px 0px;
}

.res-box {
  border-radius: 12px;
  padding: 8px;
}

.res-circle {
  background-color: rgba($slide_color, 0.7);
  color: $slide_color;
  border-radius: 100%;
  padding: 0px;
}

.res-circle-small {
  background-color: rgba($background, 0.5);
  border-radius: 100%;
  padding: 30px;
  min-width: 30px;
}

.res-cpu {
  color: #19cddb;
}

.res-mem {
  color: #a5deb7;
}

.res-disk {
  color: #cfb3ff;
}

.control-box {
  background-color: rgba($block_background, 0.2);
  box-shadow: 0px 0px 3px rgba($background, 0.5);
  border-radius: 14px; 
  padding: 2px; 
  margin: 5px 5px 5px 2px;
}

.menu-box {
  padding: 0px 8px;
  border-radius: 10px;
}

.menu-layer:hover {
  border-radius: 10px;
  background-color: rgba($hover_menu, 0.6);
  transition: 0.8s;
  opacity: 0.9;
}
.menu-icon{
  border-radius: 8px;
  padding: 5px;
  margin: 2px;
}

.panel-box-header {
  border-radius: 10px;
  background: rgba($primary, 0.6);
  margin: 3px;
  padding: 3px;
  min-width: 120px;
}

.panel-icon {
  background-color: rgba($on_primary, 0.8);
  border-radius: 18px;
  min-width: 32px;
  min-height: 32px;
  margin: 2px;
}

.device-list {
  border-radius: 10px;
  background: rgba($primary, 0.8);
  margin: 0px 3px 3px 3px;
  .device-item {
    padding: 5px 10px;
    border-bottom: 1px solid rgba($background, 0.1);
    &:last-child {
      border: none;
    }
  }
}

.switch-icon {
  border-radius: 8px;
  min-width: 40px;
  min-height: 36px;
  margin: 5px 5px;

}

.func-switch {
  margin: 5px;
  border-radius: 12px;
  background-color: rgba($block_background, 0.2);
  box-shadow: 0px 0px 3px rgba($background, 0.5);
}

.switch-box:hover {
  border-radius: 12px;
  opacity: 0.8;
  background-color: rgba($hover_menu, 0.6);
}

.panel-box {
  border-radius: 12px;
  padding: 2px;
  min-height: 24px;
  background-color: rgba($background, 0.2);
}

.audio-scale highlight {
  all: unset;
  background-color: rgba($slide_color, 0.7);
  border-radius: 0px 12px 12px 0px;
  transition: all 0.8s;
}

.audio-scale trough {
  all: unset;
  min-height: 24px;
  border-radius:  12px;
  min-width: 360px;
  transition: all 0.8s;
}

.slide-box {
  margin: 5px 5px 5px 5px;
  padding: 10px;
  background-color: rgba($block_background, 0.2);
  box-shadow: 0px 0px 3px rgba($background, 0.5);
  border-radius: 12px;
}

.slide-icon {
  background-color: rgba($slide_color, 0.7);
  border-radius:  12px 0px 0px 12px;
  color: $background;
  min-width: 24px;
  min-height: 24px;
}

.light-scale highlight {
  all: unset;
  background-color: rgba($slide_color, 0.7);
  border-radius: 0px 12px 12px 0px;
  transition: all 0.8s;
}

.light-scale trough {
  all: unset;
  border-radius: 0px 12px 12px 0px;
  min-height: 24px;
  min-width: 360px;
  transition: all 0.8s;
}


@import "widgets.scss";
@import "dock.scss";
@import "task.scss";
@import "launcher.scss";
@import "bar.scss";
@import "paper.scss";
@import "corneredge.scss";
@import "search.scss"
