
$app-hover: #cfcfcf;
$text_color: $on_primary_container;

.launcher-bg {
  background-color: rgba($primary_container, 0.6);
  opacity: 0.95;
  border-radius: 10px 10px 0 0;
  padding: 100px;
}

.app-scroll {

}
.app-box {
}

.app-item {
  background-color: transparent;
  border-radius: 16px;
  transition: all 0.5s;
}

.app-item:hover{
  background-color: rgba($app-hover, 0.2);
  color: $text_color;
  transition: all 0.5s;
}

.app-detail {
  padding: 10px;
}

.app-icon {
  border-radius: 16px;
  opacity: 1.0;
}

.app-name {
  padding: 8px 0 0 0;
  font-family: "Inter Semi Bold";
  font-size: 20;
  color: $text_color;
}
