$task_background: #cfcfcf;
$task_group_background: #fcfcfc;

.taskview {
  background-color: rgba($task_background, 0.2);
  opacity: 0.95;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 5px rgba($background, 0.5);
}

.task-item {
  border-radius: 16px;
  margin: 5px;
  background-color: rgba($task_group_background, 0.2);
  box-shadow: 0 0 5px rgba($background, 0.2);
  padding: 5px;
}


.task-label {
  font-size: 18px;
  font-family: "Cascadia Code";
  font-style: italic;
  color: $background;
}

.item-view:focus {
  border: 1px solid $color6;
}

.item-view {
  opacity: 0.8;
  border-radius: 16px;

  &:hover {
    background-color: $color6;
    opacity: 1;
    padding: 5px;
    transition: all 0.5s;
  }
}
