/** 
* desktop components global style
*/

$container_head: #1e1e2e;
$back_container: #3e3f42;

.desktop-widget {
  all: unset;
  font-family: 'JetBrains Mono Nerd Font', 'JetBrains Mono NL', 'SpaceMono Nerd Font', monospace;
}

.notes {
  margin: 5px;
  border-radius: 16px;
  font-weight: bold;
  font-style: normal;
}

.notes-header {
  background: rgba(#e5b12a, 0.7);
  border-radius: 16px 16px 0 0;
  padding: 10px;
  color: black;
  font-size: 20px;
}

.notes-body {
  padding: 0 5px 8px 5px;
  background-color: rgba($back_container, 0.8);
  min-height: 190px;
  min-width: 200px;
  border-radius: 0 0 16px 16px;
}

.notes-item {
  padding: 10px;
  border-bottom: 1px solid rgba($primary, 0.7);
}

.editor-icon {
  background-color: $primary;
  box-shadow: 0 0 4px $primary;
  padding: 5px;
  border-radius: 50%;
  margin: 0 8px 0 0px;
}

.note-title {
  font-family: "MonoLisa";
  font-size: 18px;
  font-style: italic;
}

.os-calendar {
  margin: 5px;
  font-size: 12px;
}

.cal-header {
  background: rgba(#c44251, 0.9);
  border-radius: 16px 16px 0 0;
  padding: 10px;
  font-size: 20px;
}

.cal-body {
  background-color: rgba($primary_container, 0.6);
  border-radius: 0 0 16px 16px;
  font-size: 15px;
}

calendar {
  padding: 1px 1px 2px 1px;
}

calendar.header {
  background-color: $secondary_container;
}

calendar:selected {
  background-color: $primary;
  border-radius: 6px;
  color: $on_primary;
}

.wheel-box {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  background-color: rgba($container_head, 0.8);
  margin: 2px;
  border-radius: 16px;
}

.clock-icon {
  background-image: url('../assets/hyprtrails-logo.svg');
  min-height: 86px;
  background-size: cover;
}

.clock-label {
  font-style: italic;
  border-radius: 0 0 16px 16px;
  background-color: #3ea2a4;
  padding: 3px 5px;
}

.wel-box {
  font-size: 18px;
  background-color: #2a714c;
  opacity: 0.8;
  margin: 5px;
  border-radius: 16px;
}

.wel-icon {
  background-image: url('../assets/ml4w-welcome.png');
  min-height: 86px;
  background-size: cover;
}

.wel-label {
  font-style: italic;
  border-radius: 0 0 16px 16px;
  background-color: #3ea2a4;
  padding: 3px 5px;
}

.hypr-box {
  font-size: 18px;
  font-weight: normal;
  background-color: #4b6b91;
  opacity: 0.8;
  color: #427383;
  margin: 2px;
  border-radius: 16px;
}

.hypr-icon {
  background-image: url('../assets/hyprland.svg');
  min-height: 92px;
  background-size: cover;
}

.hypr-label {
  font-style: italic;
  border-radius: 16px 16px 0 0;
  padding: 3px 0px;
}

.dot-box {
  font-size: 18px;
  background-color: #274f4e;
  opacity: 0.8;
  margin: 5px;
  border-radius: 16px;
}

.dot-icon {
  background-image: url('../assets/ml4w-dotfiles-settings.png');
  min-height: 86px;
  background-size: cover;
}

.dot-label {
  font-style: italic;
  border-radius: 16px 16px 0 0;
  background-color: #a0c9b1;
  padding: 3px 5px;
}

.plugin-box {
  font-size: 18px;
  background-color: rgba($container_head, 0.8);
  margin: 0 5px;
  border-radius: 16px 16px 0 0;
}

.plugin-icon {
  background-image: url('../assets/hy3-logo.svg');
  min-height: 40px;
  min-width: 40px;
  background-size: cover;
}

.check-item {
  padding: 3px;
  margin: 0 5px;
  border-radius: 5px;
}

.check-value {
  padding: 3px;
  margin: 2px 5px;
  border-radius: 10px;
  background-color: rgba($outline, 0.8);
}

.plugin-switch {
  margin: 0 5px 0 5px;
  padding: 5px;
  min-height: 213px;
  border-radius: 0 0 16px 16px;
  background-color: rgba(#2c2b31, 0.8);
}

.album-center {
  border-radius: 16px;
  background: rgba(#2a1ea1, 0.8);
  opacity: 0.9;
  margin: 5px;
}

.art-cover {
  min-width: 160px;
  min-height: 80px;
  background-size: cover;
  border-radius: 16px 0 0 0;
}

.art-title {
  font-size: 12px;
  padding: 10px;
}

.time-ratio {
  font-size: 12px;
  margin-right: 10px;
}

.music-visual {
  min-height: 96px;
}

.media-box {
  opacity: 0.6;
  transition: all 0.5s;
  border-radius: 10px;
}

.media-box:hover {
  background-color: #2a1eaf;
  opacity: 1;
  transition: all 0.5s;
}

.media-btn {
  margin: 10px;
}

.music-bar  highlight {
  all: unset;
  color: $secondary;
  min-height: 3px;
  border-radius: 3px;
}

.music-bar > trough {
  all: unset;
  background-color: $background;
  min-height: 3px;
  border-radius: 3px;
}


.news {
  min-width: 100px;
  padding: 10px;
  margin: 5px;
  background-color: rgba(#576477, 0.8);
  border-radius: 16px;
  box-shadow: 0 0 10px #3e3f4210;
}

.tab {
  padding: 3px 5px 3px 5px;
  margin: 1px 3px 1px 3px;
  border-radius: 8px;
}

.tab.focus {
  background-color: #7ba9ec;
  color: #1e1e2e;
}

.news-item {
  padding: 5px 0 5px 3px;
}

.sys-info {
  background-color: #735982;
  border-radius: 1px 16px 16px 1px;
  border-left: 5px solid #eeeaaf;
  opacity: 0.8;
  padding: 10px;
  margin: 5px;
}

.close-button {
  background-color: #735982;
  border-radius: 16px 1px 1px 16px;
  border-right: 5px solid #eeeaaf;
  opacity: 0.8;
  padding: 10px;
  margin: 5px;
}
